<link rel="stylesheet" href="/stylesheets/registration.min.css" >
  
  <div class="container" style="width:780px">  
<form class="form-control">

   <div class="form-group border border-info rounded-top clearfix">
{{#if result}}
     <h2  class="text-center">UTEI Result</h2>
<hr class="featurette-divider">


<br>

<div class="card-text">
    {{#result}}
   <h4 class="text-capitalize"> <span> <label> Student Name :</label></span> <strong>{{this.rstudentname}}</strong></h4>
  <hr class="featurette-divider">
   <h4 class="text-capitalize"> <span> <label for="rfathername"> Father's Name :</label></span> <strong>{{this.rfathername}} </strong></h4>
<hr class="featurette-divider">
   <h4 class="text-capitalize"> <span> <label for="rcourse"> Course Name :</label></span> <strong>{{this.rcourse}}</strong></h4>
<hr class="featurette-divider">
   <h4 class="text-capitalize"> <span> <label for="rrollnumber"> Roll Number :</label></span> <strong>{{this.rrollnumber}}</strong></h4>
 <hr class="featurette-divider">
   <h4 class="text-capitalize"> <span> <label for="rdob"> Date of Birth :</label></span> <strong>{{this.rdob}}</strong></h4>
<hr class="featurette-divider">
   <h4 class="text-capitalize"> <span> <label for="rdoj"> Date of Joining :</label></span> <strong>{{this.rdoj}}</strong></h4>
<hr class="featurette-divider">
   <h4 class="text-capitalize"> <span> <label for="ryear"> Year:</label></span> <strong>{{this.ryear}}</strong></h4>
 <hr class="featurette-divider">
   {{/result}}
</div>

<div class="card" style="width:700px">
   {{#result}}
    {{# if uploadmarksheet}}
    <img class="card-img-top" src="../{{this.uploadmarksheet}}" alt="Card image" style="width:100%">
    <div class="card-body" >
      <a href="../{{this.uploadmarksheet}}" class="btn btn-success" download="{{this.rstudentname}}_Marksheet.jpeg">Download Marksheet</a>
    </div>
    {{/if}}
    {{/result}}
  </div>
  <div class="card" style="width:700px">
   {{#result}}
   {{#if uploadcertificate}}
    <img class="card-img-top" src="../{{this.uploadcertificate}}" alt="Card image" style="width:100%">
    <div class="card-body" >
      <a href="../{{this.uploadcertificate}}" class="btn btn-success" download="{{this.rstudentname}}_Certificate.jpeg">Download Certificate</a>
          {{/if}}
       <a class="btn btn-info" role="button" href='/user/result' >Result Recheck</a>

    </div>
    {{/result}}
  </div>
   {{else}}
   <h1 class="text-center"> No Result Found</h1><br>
       <a class="btn btn-warning btn-block" role="button" href='/user/result' > Recheck Your Result</a>
{{/if}}
  </div>
  </form>
 

          <hr class="featurette-divider">
          </div>

          <!-- ../{{this.uploadmarksheet}}  -->